<div class="summary-cate">
            <div class="summary-title-name">
                Options
            </div>
        </div>
        <div class="order-option">
            <div class="order-option-wrapper">
                <div class="order-option-name">
                    Beef Pepperoni Pizza
                </div>
            </div>
            <div class="summary-order-row-third">
                <div class="order-price">
                    $15.00
                </div>
            </div>
        </div>
