<div class="summary-cate">
    <div class="summary-title-name">
        My Product Note
    </div>
</div>
<div class="order-product-note">
    <div class="order-product-note-wrapper">
        <div class="order-product-note-header">
            <div class="order-product-note-name">
                John lee
            </div>
            <div class="order-product-note-date">
                2:45 PM | 23 Jan 20
            </div>

        </div>
        <div class="order-product-note-content">
            <div class="order-product-note-profile-img">
                <img src="../../../assets/icons/profile.png" class="profile-img" alt="img">
            </div>
            <div class="order-product-note-desc">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
            </div>
        </div>

        <div class="product-note-image-wrapper">
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>

        </div>

    </div>
    <div class="order-product-note-wrapper">
        <div class="order-product-note-header">
            <div class="order-product-note-name">
                John lee
            </div>
            <div class="order-product-note-date">
                2:45 PM | 23 Jan 20
            </div>

        </div>
        <div class="order-product-note-content">
            <div class="order-product-note-profile-img">
                <img src="../../../assets/icons/profile.png" class="profile-img" alt="img">
            </div>
            <div class="order-product-note-desc">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
            </div>
        </div>

        <div class="product-note-image-wrapper">
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>

        </div>

    </div>
    <div class="order-product-note-wrapper">
        <div class="order-product-note-header">
            <div class="order-product-note-name">
                John lee
            </div>
            <div class="order-product-note-date">
                2:45 PM | 23 Jan 20
            </div>

        </div>
        <div class="order-product-note-content">
            <div class="order-product-note-profile-img">
                <img src="../../../assets/icons/profile.png" class="profile-img" alt="img">
            </div>
            <div class="order-product-note-desc">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
            </div>
        </div>

        <div class="product-note-image-wrapper">
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>
            <div class="product-note-images">
                <img src="../../../assets/images/product1.jpg" class="product-imgs" alt="img">
            </div>

        </div>

    </div>
</div>
