

<img src="this.summaryDet.summaryImage" alt="">

<div>
    <app-order-food *ngFor="let OrderFoodDet of this.summaryDet.orderFood" [orderFoodDet] ="OrderFoodDet" ></app-order-food>
 </div>


<!-- Options

<div *ngFor="let OptionDet of this.summaryDet.orderSummaryDetail.option">
    <app-options [optionDet] ="OptionDet" ></app-options>
 </div>

 Add-ons

<div *ngFor="let AddOnDet of this.summaryDet.orderSummaryDetail.addOn">
   <app-add-ons [addOnDet] ="AddOnDet" ></app-add-ons>
</div>

<div *ngFor="let myProductDet of this.summaryDet.orderSummaryDetail.myProduct">
    <app-product-note [myProduct] ="myProductDet" ></app-product-note>
 </div> -->

 <!-- My Product 

 <div *ngFor="let myProductDet of this.summaryDet.orderSummaryDetail.myProduct">
    <app-my-product [myProduct] ="myProductDet" ></app-add-ons>
 </div> -->