<div class="summary-cate">
    <div class="summary-title-name">
        Add-ons
    </div>
</div>
<div class="order-addons">
    <div class="order-addons-wrapper">
        <div class="order-addons-quantity" >
            1X
        </div>
        <div class="order-addons-name">
            Beef Pepperoni Pizza
        </div>

    </div>
    <div class="summary-order-row-third">
        <div class="order-price">
            $15.00
        </div>
    </div>

</div>

<!-- <div class="order-addons">
    <div class="order-addons-wrapper">
        <div class="order-addons-quantity" >
            1 X
        </div>
        <div class="order-addons-name">
            Beef Pepperoni Pizza
        </div>

    </div>
    <div class="summary-order-row-third">
        <div class="order-price">
            $15.00
        </div>
    </div>

</div> -->
<!-- *ngFor="let addDet of addOnDet" -->
