.summary-cate
    width: 100%
    background-color: #efefef
    padding: 15px 5px

.summary-title-name
    font-size: 18px
    font-weight: 600

.order-addons
    display: flex
    width: 100%
    border-bottom: 2px solid lightgray

.order-addons-wrapper
    display: flex
    flex: 0 0 90%
    padding: 15px 5px


.order-addons-quantity
    padding: 20px 0
    font-size: 17px
    font-weight: 500


.order-addons-name
    padding: 20px 35px
    font-size: 17px
    font-weight: 500

.summary-order-row-third
    display: flex
    flex: 0 0 10%
    padding: 15px 0

.order-price
    padding: 20px 0
    font-size: 17px
    font-weight: 400

@media only screen and (max-width: 992px)


@media only screen and (max-width: 768px)
    .summary-cate
        padding: 10px 5px

    .order-addons-wrapper
        padding: 10px 5px

    .order-addons-wrapper
        flex: 0 0 86% !important


@media only screen and (max-width: 575px) 
    .summary-cate
        padding: 10px 5px

    .order-addons-wrapper
        padding: 10px 5px

    .order-addons-wrapper
        flex: 0 0 76% !important