 <div class="summary-order">
            <div class="summary-order-row1">
                <div class="summary-order-row-first">
                    <div class="summary-order-bac-image">
                        <img src="../../../assets/images/image1.jpg" class="order-image" alt="img">
                    </div>
                    <div class="quantity">
                        1 X
                    </div>
                </div>
                <div class="summary-order-row-second">
                    <div class="order-name">
                        Beef Pepperoni Pizza
                    </div>
                </div>
                <div class="summary-order-row-third">
                    <div class="order-price">
                        $15.00
                    </div>
                </div>
            </div>
        </div>
