.summary-order
    width: 100%
    background-color: #fafafa
    padding: 15px 5px
    border-bottom: 2px solid lightgray

.summary-order-row1
    display: flex 

.summary-order-row-first
    display: flex
    flex: 0 0 20%

.summary-order-bac-image

.order-image
    width: 70px
    height: 70px
    border-radius: 9px

.quantity
    padding: 25px 45px
    font-size: 17px
    font-weight: 500

.summary-order-row-second
    display: flex
    flex: 0 0 70%

.order-name
    padding: 20px 0
    font-size: 17px
    font-weight: 500

.summary-order-row-third
    display: flex
    flex: 0 0 10%

.order-price 
    padding: 20px 0
    font-size: 17px
    font-weight: 400


@media only screen and (max-width: 992px)


@media only screen and (max-width: 768px)
    .summary-order-row-first
        flex: 0 0 22% !important

    .quantity
        padding: 22px 15px !important

    .summary-order-row-second
        flex: 0 0 65% !important


@media only screen and (max-width: 575px) 
    .summary-order-row-first
        flex: 0 0 42% !important

    .summary-order-row-second
        flex: 0 0 36% !important

    .quantity
        padding: 22px 15px !important